@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <nav class="navbar navbar-light ">
            <div class="container-fluid">
                <form class="d-flex align-content-center">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
